* {
    font-family: 'Lilita One', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    
    margin: 0 auto;
/*     overflow-x: hidden; */
} 

/* -------------------------- MENU -------------------------- */

#menu {
    display: flex;
    height: 100%;
}

.containerNameHeader {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A2C65A;
}

.titleNameHeader { 
    width: 50%;
    text-align: right;
}

#icone {
	cursor: pointer;
	position: relative;
    top: 35px;
    left: -420px;
	z-index: 99;
}

#check{
    z-index: 99;
	display: none;
	background-color: #f00;
}

.imgMenu {
    width: 40px;
}

.barra{
	background-color: #333333;
	height: 100vh;
	width: 300px;
	position: relative;
	left: -780px;
	transition: all .2s linear;
    z-index: 1;
    
}

.barra .link, .linkHome{
	list-style: none;
	background-color: #494950;
}

nav{
	width: 100%;
	position: relative;
	top:110px;
}
nav a{
	text-decoration: none;
}

.link, .linkHome{
	color: #f4f4f9;
	font-size: 12pt;
	border-bottom: 2px solid #222;
	transition:  all .2s linear;
	opacity: 0;
    cursor: pointer;
    padding: 0;
}

.link:hover, .linkHome:hover{
	background-color: #02027e;
}

#check:checked ~ .barra nav a .link, #check:checked ~ .barra nav a .linkHome{
    opacity: 1;
    margin-top: 0;
    transition-delay: .1s;
    padding: 20px;
}
#check:checked ~ .barra{
    transform: translate(300px, 0);
}

.containerLoginMenu {
    position: absolute;
    top: 93%;
    left: 10%;
    font-size: 1.5em;
}

.loginMenu {
    cursor: pointer;
    text-decoration: none;
    color: #A2C65A;
}

/* -------------------------- HEADER -------------------------- */

header {
    height: 100px;
    width: 100%;
    background-color: #fff4d72d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerLogoHeader {
    display: flex;
    height: 90%;
    width: 300px;
}

.titlePlanet {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #A2C65A;
}

.LogoHeader {
    margin-left: 15px;
    height: 100%;
    width: 130px;
    background-image: url("img/logofinal.png");
    background-repeat: no-repeat;
    background-size: contain;
}

/* -------------------------- INITIAL -------------------------- */

/* BACKGROUND */

.backgroundInit{
    background: rgba(198, 86, 198, 0.623) center / 200px 200px round;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    border-radius: 50%;
    box-shadow: -11vw -13vh 3px 2px #fff,-8vw 26vh 3px 2px #fff , 5vw -21vh 2px 1px #fff,-47vw -27vh 2px 3px #fff,-30vw 39vh 2px 2px #fff,35vw 1vh 3px 3px #fff,3vw 4vh 3px 1px #fff,31vw 36vh 2px 2px #fff,4vw 44vh 2px 3px #fff,-47vw 30vh 3px 2px #fff,36vw -40vh 2px 1px #fff,32vw -40vh 3px 1px #fff,27vw 31vh 1px 1px #fff,29vw 9vh 3px 3px #fff,29vw -17vh 3px 3px #fff,-14vw 7vh 3px 1px #fff,-10vw -48vh 3px 3px #fff,-41vw 5vh 5px 3px #fff,45vw -43vh 3px 3px #fff,-34vw -41vh 1px 3px #fff,-25vw -37vh 4px 2px #fff,-1vw 10vh 1px 2px #fff,-31vw -14vh 4px 3px #fff;
    animation: zoom 10s alternate infinite;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

/* LOGO */

.containerInit {
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerLogoInit {
    min-height: 400px;
    min-width: 470px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url('./img/logofinal.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.titleInit {
    height: 22%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 5.5rem;
    text-align: center;
    text-shadow: #fffefe4a 2px 8px;
    color: #A2C65A;
}

/* BUTTON INIT */

.containerButtonInit {
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-init {
    min-width: 300px;
    min-height: 60px;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #fff7f7fd;
    background: #A2C65A;
    background: linear-gradient(90deg, rgb(163, 200, 91) 0%, rgb(167, 201, 98) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }

.button-init::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #A2C65A;
    box-shadow: 0 0 60px #A2C65A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button-init:hover, .button-init:focus {
    color: #d7d7d7;
    transform: translateY(-6px);
}

.button-init:hover::before, .button-init:focus::before {
    opacity: 1;
}

.button-init::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #A2C65A;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.button-init:hover::after, .button-init:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
    width: 30px;
    height: 30px;
    opacity: 1;
    }
    100% {
    width: 300px;
    height: 300px;
    opacity: 0;
    }
}

/* -------------------------- HOME -------------------------- */

.rootContainerHome {
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    overflow: hidden;
    min-width: 100vw;
}

.mainHome {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
} 

/* SLIDER */

.containerSliderHome {
    height: 60%;
    width: 60%;
}

.slideContainer {
    background-color: #fff4d72d;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.containerPlanetName {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PlanetName {
    font-size: 2em;
    color:#A2C65A;
}

.recipes {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerRecipeLeft,.containerRecipeRight {
    height: 90%;
    width: 45%;
    background-color: #FBF9F9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipeWrapper {
    height: 90%;
    width: 85%;
}

.recipeNameContainer {
    height: 20%;
    /* width: 60%; */
    color:#A2C65A;
    border-bottom: 1px solid black;
    display: flex;
    align-items: end;
}

.recipeName {
    line-height: 1.5em;
}

.listHome li {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
}

.listHome li:nth-child(1) {
    list-style: none;
    line-height: 1.8em;
}

.listHome li:nth-child(2), .listHome li:nth-child(3) {
    height: 30px;
    margin-left: 20px;
    line-height: 2.3em;
}

.recipeResume {
    height: 80px;
    width: 95%;
    padding-top: 10px;
}

.recipeButtonContainer {
    height: 18%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.recipeButton {
    padding: 10px;
    border-radius: 20px;
    border: 0;
    background-color: #A2C65A;
    color: #FBF9F9;
    cursor: pointer;
}

.slides {
    height: 350px;
    width: 800px;
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.slides .slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -99;
    opacity: 0;
}

.slide.active {
    opacity: 10;
    z-index: 2;
}

.slide.prev {
    z-index: -99;
    opacity: 0;
    transform: translate(-100%, -50%);
}

.slide.next {
    z-index: -99;
    opacity: 0;
    transform: translate(50%, -50%);
}

/* CARROSSEL */

.containerCarroselHome {
    height: 35%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items {
    position: relative;
    transform: translate(-50%, -50%);
    user-select: none;
}

.items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item.active {
    opacity: 1;
    z-index: 99;
}

.item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
}

.item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
}

.items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    z-index: 100;
}

.button-container .buttonCarrossel {
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
}

.button-container .buttonCarrossel:hover {
    opacity: 1;
}

.button-container .buttonCarrossel:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #9e9b9b91;
    border-radius: 50%;
    z-index: -99;
}

.button-container .buttonCarrossel:nth-child(1) {
    float: left;
}

.button-container .buttonCarrossel:nth-child(2) {
    float: right;
}

/* -------------------------- PLANETS -------------------------- */

.backgroundPLanets {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* A imagem de fundo fica fixa */
    background-position: center; /* A posição do fundo no centro */
  }

.main-container{
    display: flex;
    /* height: 100%; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.recipe-name {
    text-align: center;
    height: 10%;
    margin-bottom: 15px;
}

.recipe-img-div{
    margin: 40px;
}

.recipe-img {
    display: flex;
    justify-content: center;
}
.recipe-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    /* height: 450px; */
    color: white;
    background-color: #39303087;
    border-radius: 20px;
    margin: 50px; /*espaçamento entre os conteudos */
}
.imagep1{
    width: 200px;
    height: 200px;
}

.recipe-text-div {
    width: 60%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-method-section{
    margin: 15px;
    margin-right: 23px;
}
.recipe-ingredients-section{
    margin: 0px 0px 30px 10px;
    padding-bottom: 20px;
}

.recipe-ingredients-section li{
    margin-left: 20px;
}

.ingredientstitle{
    margin-top: 15px;
    margin-bottom: 15px;
}

.method-title {
    margin-bottom: 15px;
}

.recipe-method-section ol li {
    margin-left: 20px;
}

.planet-info-container{
    width: 100%;
    height: 250px;
    background-color: #39303087;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.planet-image-div{
    width: 20%;
    height: 100%;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 75px;
}
.planet-text-div{
    width: 80%;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-left: 80px;
}

.recipe-list-container{
    width: 1000px;
    height: auto;
    margin: 50px;    /*espaçamento entre os conteudos */
    border-radius: 2rem;
    background-color: #39303087;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.template-recipe-div{
    width: 97%;
    margin: 10px;
    height: 200px;
    border-radius: 2rem;
    background-color: #ecebeb;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.template-image-div{
    height: 85%;
    width: 20%;
}

.template-text-section{
    height: 65%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.template-recipe-title{
    font-size: 25px;
    color: #A2C65A
}

.template-recipe-text, .template-recipe-time{
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

.button_container_text{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.button_text{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background-color: #A2C65A;
    color: white;
}


/* -------------------------- ADDPLANETS -------------------------- */

.rootContainerAddPlanets {
    background: radial-gradient(circle at bottom, navy 0, black 100%);
}
#section-lista{
    margin: 20px auto auto auto;
}

.formTableAddPlanetContainer {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container-addplanet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.mini_table {
    background-color: #FFFFFF;
}

.tbodyAddplanet {
    text-align: center;
    font-size: 0.9em;
}

.tbodyAddplanet tr td, .tbodyAddplanet tr td p {
    font-family: Arial, Helvetica, sans-serif;
}

.tbodyAddplanet:nth-child(odd) {
    background-color: #D7D7D7;
}

.tbodyAddplanet tr td p {
    display: grid;
    align-items: center;
}

.imgTablePlanetsIcon {
    width: 100px;
    height: 100px;
}

.imgTablePlanetsBack{
    width: 100px;
    height: 150px;
}

#planet-name {
    width: 100%;
}

.back-img{
    display: flex;
    width: 100%;
}
.label-back-img{
    width: 20%;
}
.name-label{
    margin-bottom: 10px;
    color: #000000;
}

.input-name-planet {
    font-size: 1em;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.input-addplanet {
    padding: 1px;
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.label-check{
    width: 30%;
    text-align: center;
    display: none;
}

.input_check {
    height: 20px;
    display: none;
}

.buttonContainerPlanets {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.send-planet, .exitEdit {
    background-color: #D9D9D9D9;
    color: #000000;
    margin-top: 10px;
    font-size: 15px;
    padding: 15px 60px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.send-planet:hover, .exitEdit:hover {
    background-color: #A2C65A;
}


.material-symbols-rounded {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

table {
    border-collapse: collapse;
    border: #000000 1px solid;
    width: 100%;
    border-radius: 5px;
    height: auto;
}

.editplanet_table{
    height: 150px;
    padding: 10px;
}

#tb_description {
    height: 100px;
    width: 30%;
}

th,tr,td{
    border: 1px solid black;
}

#description_p {
    height: 150px;
    width: cover;
    overflow-y: scroll;
}

.textErrorPlanets {
    margin-top: 20px;
    color: red;
    text-align: center;
}


/* -------------------------- LOGIN -------------------------- */
.rootContainerlogin{
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.container-login {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    margin: 150px auto;
    width: 350px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.up-name{
    display: block;
    margin-bottom: 10px;
    color: #000000;
}

#username, #password {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#login {
    background-color: #D9D9D9D9;
    color: #000000;
    font-size: 1.1em;
    margin: 0 0 0 70px;
    padding: 13px 35px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#login:hover {
    background-color: #A2C65A;
}

/* -------------------------- ADD RECIPES-------------------------- */

.rootContainerAddRecipes {
    background: radial-gradient(circle at bottom, navy 0, black 100%);
}

.container_planet_recipe{
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.label-back-img{
    width: 20%;
}

label {
    margin-bottom: 10px;
    color: #000000;
}

.inputFileContainer, .inputImgTypeContainer, .nameTypeContainer  {
    display: flex;
    width: 100%;
}

.nameContainer, .typeContainer,.inputImgContainer, .inputTypeContainer {
    width: 50%;
}

#input_image_receita,#input_tempo, #input_name, .food_description {
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#input_image_receita {
    width: 90%;
}

#input_image_planeta {
    background-color: #D9D9D9D9;
    color: #000000;
    margin: 0 0 0 290px;
    font-size: 15px;
    padding: 15px 70px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
    
select {
    padding-left: 8px;
    margin-left: 10px;
    width: 20%;
    font-size: 15px;
    margin-bottom: 20px;
    color: #222;
}

.food_description {
    width: 95%;
    margin-bottom: 20px;
    padding: 0;
    height: 40px;
    padding-left: 10px;
}

.addIngredient {
    margin-bottom: 20px;
}

.showListIngContainer, .showListDesContainer {
    margin-bottom: 20px;
    font-size: 0.8em;
    list-style-type: none;
    list-style: none;
}

.showListIngContainer li, .showListDesContainer li {
    list-style-type: none;
}

.envio_button {
    background-color: #D9D9D9D9;
    color: #000000;
    margin-top: 10px;
    font-size: 15px;
    padding: 15px 60px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.envio_button:hover {
    background-color: #A2C65A;
}

.ingDesContainer {
    display: flex;
    width: 100%;
}

#type_select {
    width: 40%;
}

.ingContainer, .desContainer {
    width: 50%;
    flex-direction: column;
}

.input_instructions, .input_ingredients {
    width: 90%;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addDescription, .addIngredient, .exlAllIngredient, .exlAllDescriptions {
    padding: 5px;
}

.exlAllIngredient, .exlAllDescriptions {
    margin-left: 10px;
}

.buttonContainerRecipe {
    margin: 0 auto;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.textError {
    margin-top: 20px;
    color: red;
    text-align: center;
}

.tableAddRecipes {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
}

#table-heading {
    background-color: #D7D7D7;
    height: 25px;
}

.tbodyAddRecipes tr td, .tbodyAddRecipes tr td p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    width: 120px;
}

.tbodyAddRecipes tr td p {
    display: grid;
    align-items: center;
    width: 120px;
}

.imgTableRecipes {
    width: 100px;
    height: 100px;
}

/* #table-heading tr th, .tbodyAddRecipes tr td {
    width: min-content;
} */

#description_p, #ingredients_r, #preparation_r, #description_r{
    height: 150px;
    width: cover;
    overflow-y: auto;
}

.material-symbols-outlined {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

/* -------------------------- FOOTER -------------------------- */

footer {
    height: 40px;
    width: 510px;
    background-color: #fff4d72d;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.textFooter {
    color: #D4D4D4;
    text-align: center;
    font-size: 0.7em;
    text-decoration: none;
}

.planetsFooter {
    background-color: #fff4d72d;
    margin: 0 auto;
}

/* -------------------------- Buttons ADD_Planet & ADD_Recipe -------------------------- */

.rootContaineradd{
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    height: 100vh;
    overflow: hidden;
}
.cadastro_planet_recipe{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    margin: 150px auto;
    width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.buttons_planet_recipe {
    display: flex;
    min-height: 45%;
    width: 650px;
    height: 304px;
    display: flex;
    justify-content: space-evenly; 
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    background-size: cover;
}

.button_p_r {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9D9;
    color: #000000;
    font-size: 20px;
    padding: 30px 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}