* {
    font-family: 'Lilita One', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    height: 100vh;
    overflow: hidden;
} 

/* -------------------- INITIAL --------------------------- */

/* BACKGROUND */

.background-init{
    background: rgba(198, 86, 198, 0.623) center / 200px 200px round;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    border-radius: 50%;
    box-shadow: -11vw -13vh 3px 2px #fff,-8vw 26vh 3px 2px #fff , 5vw -21vh 2px 1px #fff,-47vw -27vh 2px 3px #fff,-30vw 39vh 2px 2px #fff,35vw 1vh 3px 3px #fff,3vw 4vh 3px 1px #fff,31vw 36vh 2px 2px #fff,4vw 44vh 2px 3px #fff,-47vw 30vh 3px 2px #fff,36vw -40vh 2px 1px #fff,32vw -40vh 3px 1px #fff,27vw 31vh 1px 1px #fff,29vw 9vh 3px 3px #fff,29vw -17vh 3px 3px #fff,-14vw 7vh 3px 1px #fff,-10vw -48vh 3px 3px #fff,-41vw 5vh 5px 3px #fff,45vw -43vh 3px 3px #fff,-34vw -41vh 1px 3px #fff,-25vw -37vh 4px 2px #fff,-1vw 10vh 1px 2px #fff,-31vw -14vh 4px 3px #fff;
    animation: zoom 10s alternate infinite;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

/* LOGO */

.main-init {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-logo-init {
    min-height: 45%;
    width: 25%;
    display: flex;
    justify-content: center;
    background-image: url('./img/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.title-init {
    font-size: 2rem;
}

/* BUTTON INIT */

.container-button-init {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-init {
    min-width: 300px;
    min-height: 60px;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #fff7f7fd;
    background: #A2C65A;
    background: linear-gradient(90deg, rgba(162, 198, 90, 1) 0%, rgba(162, 198, 90, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }

.button-init::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid rgba(162, 198, 90, 1);
    box-shadow: 0 0 60px rgba(60, 255, 0, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button-init:hover, .button-init:focus {
    color: #d7d7d7;
    transform: translateY(-6px);
}

.button-init:hover::before, .button-init:focus::before {
    opacity: 1;
}

.button-init::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #A2C65A;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.button-init:hover::after, .button-init:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
    width: 30px;
    height: 30px;
    opacity: 1;
    }
    100% {
    width: 300px;
    height: 300px;
    opacity: 0;
    }
}

/* -------------------- HOME --------------------------- */