*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.recipe-img-div{
    margin: 40px;
}
.recipe-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 450px;
    color: white;
    background-color: #B44C11;
    border-radius: 5%;
    margin: 100px;
}
.imagep1{
    width: 200px;
    height: 200px;
}
.recipe-method-section{
    margin: 15px;
}
.recipe-ingredients-section{
    margin: 0px 0px 30px 10px;
    padding-bottom: 20px;
}

.recipe-ingredients-section li{
    margin-left: 20px;
}

.ingredientstitle{
    margin-bottom: 15px;
}
.planet-info-container{
    width: 100%;
    height: 400px;
    background-color: #B44C11;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.imgplaneta1{
    width: 300px;
    height: 300px;
}
.planet-text-div{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-left: 80px;
}